n8n/budget-categorize.json
{
  "name": "Budget Categorize",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 8 * * *" }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GATEWAY_URL }}/accounts/sync",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "node-sync-accounts",
      "name": "Sync Accounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [464, 304],
      "credentials": {
        "httpHeaderAuth": { "id": "REPLACE_BUDGET_GATEWAY_CRED_ID", "name": "Budget Gateway" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $env.GATEWAY_URL }}/tx/uncategorized",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "node-get-uncategorized",
      "name": "Get Uncategorized",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [688, 304],
      "credentials": {
        "httpHeaderAuth": { "id": "REPLACE_BUDGET_GATEWAY_CRED_ID", "name": "Budget Gateway" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-no-tx",
      "name": "No Transactions",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [912, 304]
    },
    {
      "parameters": {
        "jsCode": "const syncItem = $('Sync Accounts').first();\nconst syncFailed = !!(syncItem && syncItem.json && syncItem.json.error) ||\n  (syncItem && syncItem.json && Array.isArray(syncItem.json.failed) && syncItem.json.failed.length > 0);\n\nconst txArray = $('Get Uncategorized').all().map(i => i.json).filter(t => t && t.id);\n\nconst txList = txArray\n  .map((tx, i) => `${i + 1}. ${tx.date}  ${(tx.notes && String(tx.notes).trim()) ? String(tx.notes).trim() : tx.payee}  ${tx.amount < 0 ? '-' : '+'}$${(Math.abs(tx.amount) / 100).toFixed(2)}  (id: ${tx.id})`)\n  .join('\\n');\n\nconst syncNote = syncFailed\n  ? '\\nNote: bank sync returned errors - data may not include the latest imports.\\n'\n  : '';\n\nconst n = txArray.length;\n\nconst bishop_instruction =\n  `You are categorizing ${n} transaction${n !== 1 ? 's' : ''} in this Actual Budget.${syncNote}\\n\\nUse the budget-gateway MCP tools:\\n- Call list_categories first to get the valid category names. Apply categories with the EXACT leaf name only (the part after the last \"/\").\\n- Optionally call get_budget_status for current-month budget context.\\n\\nFor each transaction in the payload below, choose the most appropriate category and apply it via apply_category. Then send me a brief summary grouped by category.`;\n\nconst bishop_payload = txList;\n\nreturn [{ json: { bishop_instruction, bishop_payload, count: n } }];"
      },
      "id": "node-build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1568, 304]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_CONSULT_PENNYWORTH_WORKFLOW_ID",
          "mode": "list",
          "cachedResultName": "Consult Pennyworth"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "bishop_instruction": "={{ $json.bishop_instruction }}",
            "bishop_payload": "={{ $json.bishop_payload }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "bishop_payload", "displayName": "bishop_payload", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "bishop_instruction", "displayName": "bishop_instruction", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "node-call-consult-pennyworth",
      "name": "Call 'Consult Pennyworth'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1776, 304]
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Sync Accounts", "type": "main", "index": 0 }]] },
    "Sync Accounts": { "main": [[{ "node": "Get Uncategorized", "type": "main", "index": 0 }]] },
    "Get Uncategorized": { "main": [[{ "node": "No Transactions", "type": "main", "index": 0 }]] },
    "No Transactions": {
      "main": [
        [],
        [{ "node": "Build Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Build Prompt": { "main": [[{ "node": "Call 'Consult Pennyworth'", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "REPLACE_ERROR_WORKFLOW_ID"
  }
}
